[submodule "skills"]
	path = .agents/skills
	url = https://github.com/tsnl/skills.git
[submodule "benchmarks/r7rs-benchmarks"]
	path = benchmarks/r7rs-benchmarks
	url = https://github.com/ecraven/r7rs-benchmarks.git
